upstream miyaw.sandbox.loc {
  server 127.0.0.1:9292;
}
server {
  listen   80;
  server_name miyaw.sandbox.loc;

  root     /src/miyaw/public;
  index    index.html;

  location / {
    proxy_set_header  X-Real-IP  $remote_addr;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header  Host $http_host;
    proxy_redirect  off;
    try_files /system/maintenance.html $uri $uri/index.html $uri.html @ruby;
  }

  location @ruby {
    proxy_pass http://miyaw.sandbox.loc;
  }
}
